// Place all the styles related to the public/sports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top-message {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

.sports-tag {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  background: #16160e;
  padding: 18px 30px;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  display: inline-block;
  transition: .3s;
  margin: 20px;
  height: 100px;
}
.box::before {
  content: "";
  width: 90%;
  height: 10px;
  position: absolute;
  top: 100%;
  left: 5%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  z-index: -1;
  opacity: 0;
  transition: .3s;
}
.box:hover {
  transform: translateY(-7px);
}
.box:hover::before {
  transform: translateY(7px);
  opacity: 1;
}

.shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.tag {
  width: 20%;
  color: #ffffff;
  text-decoration: none;
}

.tag:hover {
  color: #ffffff;
  text-decoration: none;
}

//slick(スライドショー)
.slick_slider{
  height: 200px !important;
  width: 200px !important;
  object-fit: cover !important;
}
.slick-slider img{
  height: 500px !important;
  width: 1000px !important;
  object-fit: cover !important;
}

.sports-index {
  margin-top: 180px;
}

td {
  min-height: 10em;
    display: table-cell;
    vertical-align: middle 
}

@media screen and (max-width: 425px) {
  
 .slick-slider img{
  height: 200px !important;
  width: 425px !important;
}

.box {
  width: 120px;
  height: 70px;
  justify-content: center;
}
  

.sport-name {
  font-size: 10px;
  width: 120px;
}
  
}