<main>
  <h1>Player一覧</h1>

  <% @sport.players.each do |player| %>
    <%= link_to player_path(player.id) do %>
      <%= player.first_name %> <%= player.last_name %>
    <% end %>
  <% end %>
</main>