<main>
  <div class="title-area">
    <h1 class="contents-title">退会確認画面</h1>
    <p id="text">退会すると一部機能が使えなくなります。</p>
  </div>
  <div class="container">  
    <div class="row mt-5 d-flex justify-content-center">
      <div class="col-md-2 text-center">
         <%= link_to "退会しない", player_path(current_player), class: "link" %>
      </div>
       <div class="col-md-2 text-center">
         <%= link_to " 退会する ", players_withdraw_path(current_player), class: "destroy-link col-1 text-center", method: :patch, "data-confirm" => "本当に退会しますか？" %>
      </div>
    </div>
  </div>          
</main>