<main>
  <h3 class="my-5">本当に退会しますか？</h3>

      <!--退会確認ボタン-->
       <div class="row mt-5 d-flex justify-content-center">
    <div class="col-2">
 <%= link_to "退会しない", player_path(current_player) %>
 </div>
 <div class="col-2">
 <%= link_to " 退会する ", players_withdraw_path(current_player), method: :patch, "data-confirm" => "本当に退会しますか？" %>
    </div>
</main>