<main>
  <div class="title-area">
    <h1 class="contents-title">検索結果一覧</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mt-5 mx-auto">
        <%= render 'public/shared/player_index' %>
      </div>
    </div>
  </div>
</main>