<main>
  <div class="title-area">
    <h1 class="contents-title">新たなスポーツとの出会いを</h1>
    
  </div>
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto">
        <p class="title-about">このサイトでは選手個人にフォーカスし、プロ選手だけでなく日頃知り得ないアマチュア選手の魅力も発見して欲しいと思っております。<br>
         私自身、高校卒業後〜26歳までの8年間、現役の選手として関東サッカーリーグに属するチームで活動してきました。<br>
         その中でプロ選手にも引けを取らない魅力のある選手と沢山出会い、「もっと選手としてもチームとしてもアピールできる場が無いか」と考え、<br>
         プロもアマチュアも関係なくスポーツが好きな人たちでスポーツ界を盛り上げられるようにと思い制作しました。
        </p>
        <div class="about">
          <div class="sec sec-01">
            <%= image_tag "p.jpg", class: "about-img" %>
            <div class="explanation">
              <h4 class="site-about">For Player</h4>
              <p>世の中に選手としての自分を知ってもらいたい方</p>
              <p>自分が活動しているチームを知ってもらい<br>サポーターを増やしたい方</p>
              <p>マイナースポーツで中々世間に知られる事が無いが<br>もっとそのスポーツを盛り上げたい方へ</p>
            </div>
          </div>
          <div class="sec sec-02 mt-5">
            <div class="explanation">
              <h4 class="site-about">For Supporter</h4>
              <p>地元で活動しているスポーツチーム、選手を知るきっかけに</p>
              <p>プロスポーツとは違ったアマチュアスポーツの良さを知るきっかけに</p>
            </div>
            <%= image_tag "identy.jpg", size: "500x350", class: "about-img" %>
          </div>
          <div class="sec sec-03 mt-5">
            <%= image_tag "t.jpg", size: "500x350", class: "about-img" %>
            <div class="explanation">
              <h4 class="site-about">For Everyone</h4>
              <p>学生時代スポーツをしていたけど、社会人になってチームやコミュニティを見つけられず、体を動かしたくても体を動かせる環境が無い方に</p>
              <p>新しい環境でもスポーツを続けたい全ての方に</p>
            </div>
          </div>
        </div>
          <h4 class="site-about">このサイトでできること</h4>
        <ul>
          <li>自分がやりたいスポーツのコミュニティ・チームを見つけられる</li>
          <li>自分がどんな選手かを紹介できる</li>
          <li>自分が住んでいる地域にどんなチーム・選手があるか見つけられる</li>
          <li>もっと自分が活動しているチームを知ってもらいたい、選手を募集したい人がチームの紹介をできる</li>
        </ul>
      </div>
    </div>
  </div>
</main>