<main>
  <h1 class="text-center about-title">新たなスポーツとの出会いを</h1>
  <div class="about">
    <p>学生時代スポーツをしていたけど、社会人になってチームやコミュニティを見つけられず、体を動かしたくても体を動かせる環境が無い方や、<br>
        マイナースポーツで中々世間に知られる事が無いがもっとそのスポーツを盛り上げたい方、<br>
        世の中に選手としての自分を知ってもらいたい方、<br>
        自分が活動しているチームを知ってもらいサポーターを増やしたい方、<br>
        地元で活動しているスポーツチーム、選手を知るきっかけに<br>
        プロスポーツとは違ったアマチュアスポーツの良さを知るきっかけに
    </p>
  </div>
  <p>このサイトでできること</p>
  <ul>
    <li>自分がやりたいスポーツのコミュニティ・チームを見つけられる</li>
    <li>自分がどんな選手かを紹介できる</li>
    <li>自分が住んでいる地域にどんなチーム・選手があるか見つけられる</li>
    <li>もっと自分が活動しているチームを知ってもらいたい、選手を募集したい人がチームの紹介をできる</li>
  </ul>
</main>