<main>
  <div class="container">
    <div class="row d-flex mx-auto">
      <div class="col-2 mx-auto">
        <%= link_to "スポーツ一覧", admin_sports_path %>
      </div>
      <div class="col-2 mx-auto">
        <%= link_to "選手一覧", admin_players_path %>
      </div>
    </div>
  </div>
</main>