<main>
  <div class="top-message">
    <h1 class="contents-title">全ての投稿からランダムで表示中！気になる選手をチェックしよう！</h1>
  </div>
  <div class="slider">
  <% @randoms.each do |random| %>
    <%= image_tag random.image if random.image.present? %>
  <% end %>
  </div>
    <div class="sports-index">
      <div class="title-area">
        <h1 class="contents-title">スポーツ一覧</h1>
      </div>
      <div class="sports-tag">
        <% @sports.each do |sport| %>
          <%= link_to sport_path(sport.id),class: "box shadow tag" do %>
            <h3><%= sport.sport_name %></h3>
          <% end %>
        <% end %>
      </div>
        <%= paginate @sports %>
    </div>
</main>